@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img,
  canvas {
    @apply inline-block;
  }

  :root {
    --background: 184 34% 100%;
    --foreground: 184 58% 1%;
    --muted: 184 23% 91%;
    --muted-foreground: 184 9% 28%;
    --popover: 184 34% 100%;
    --popover-foreground: 184 58% 1%;
    --card: 184 34% 100%;
    --card-foreground: 184 58% 1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 184 95% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 184 7% 91%;
    --secondary-foreground: 184 7% 31%;
    --accent: 184 7% 91%;
    --accent-foreground: 184 7% 31%;
    --destructive: 17 88% 41%;
    --destructive-foreground: 0 0% 100%;
    --ring: 184 95% 21%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 184 35% 2%;
    --foreground: 184 37% 100%;
    --muted: 0 23% 9%;
    --muted-foreground: 0 9% 72%;
    --popover: 184 35% 2%;
    --popover-foreground: 184 37% 100%;
    --card: 184 35% 2%;
    --card-foreground: 184 37% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 184 95% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 70%;
    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 70%;
    --destructive: 17 88% 56%;
    --destructive-foreground: 0 0% 0%;
    --ring: 184 95% 21%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground;
  }
}

@layer components {
  .h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  .h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  .h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  .h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  .center {
    @apply flex items-center justify-center;
  }
}

.popover-content-width {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}
